* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

body {
    background: var(--body-bg-color);
    width: 100vw;
}

:root {
    --body-bg-color: #F1F6F9;
    --nav-bg-color: #B5C0D0;
    --main-box-color: #E8F9FD;
    --footer-bg-color: #394867;
    /* --primary-color: ; */
    /* --secondary-color: ; */
    --text-color: #fff;
    --text-second-color: #121212
}

.dark-mode {
    --body-bg-color: black;
}

.container {
    width: 100vw;
    position: relative;
}

nav {
    background: var(--nav-bg-color);
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-second-color);
    padding: 0 5px;
}

.fa-book,
.fa-moon {
    color: var(--footer-bg-color);
    font-size: 28px;
}

.fa-book {
    padding: 0 0 0 15px;
}

.fa-moon {
    padding: 0 15px 0 0;
    cursor: pointer;
}


.main {
    width: 60vw;
    /* height: 83vh; */
    margin: 5px auto;
    padding: 5px;
    /* border: 1px solid black; */
}

.input-field {
    /* background: red; */
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}

.input {
    font-size: 20px;
    line-height: 1.9;
    padding: 0 0 0 5px;
    border-radius: 10px;
    flex: 1;
    border: 1px solid var(--nav-bg-color);
}

.input:focus {
    outline: none;
}

.search {
    font-size: 22px;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--nav-bg-color);
    cursor: pointer;
}

.search:hover {
    border: 1px solid var(--footer-bg-color);
}

.result {
    border: 1px solid var(--footer-bg-color);
    /* background: green; */
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 4px 4px 4px 2px var(--footer-bg-color);
    opacity: 0;
}

.word-audio {
    /* background: wheat; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#word {
    color: var(--text-second-color);
    text-align: start;
    font-size: 28px;
    padding: 5px 0;
}

.fa-volume-high {
    font-size: 20px;
    color: var(--text-second-color);
    padding: 3px;
    margin: 0 30px 0 0;
    cursor: pointer;
}

.part-of-speech {
    /* background-color: wheat; */
    font-size: 18px;
    padding: 5px 0;
}

.meaning {
    /* background-color: wheat; */
    font-size: 18px;
    padding: 5px 0;
}

.synonyms-word {
    /* background-color: wheat; */
    font-size: 18px;
    padding: 5px 0;
}

.antonyms-word {
    /* background-color: wheat; */
    font-size: 18px;
    padding: 5px 0;
}

.example {
    /* background-color: wheat; */
    font-size: 18px;
    padding: 5px 0;
    margin: 0 0 15px 0;
}

.result>a {
    background: var(--footer-bg-color);
    font-size: 18px;
    border: 1px solid var(--nav-bg-color);
    text-decoration: none;
    outline: none;
    padding: 3px 6px;
    color: var(--text-color);
    cursor: pointer;
}

.result>a:hover {
    outline: none;
    border: 1px solid var(--footer-bg-color);

}

.footer {
    width: 100vw;
    height: 8vh;
    position: fixed;
    bottom: 0;
    background: var(--footer-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.copy-right {
    font-size: 20px;
    cursor: pointer;
}

.copy-right>a:link {
    color: var(--text-color);
}

.copy-right>a:visited {
    color: var(--text-color);
}

.copy-right>a:active {
    color: green;
}

.copy-right>a:hover {
    color: red;
    text-decoration: underline;
}